 #preloader {
      position:fixed;inset:0;z-index:2000;background:#fff;display:flex;align-items:center;justify-content:center;
    }
    #pre-load {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      overflow: hidden;
      background: #fff;
    }
    #pre-load:before {
      content: "";
      position: fixed;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      border: 6px solid #f2f2f2;
      border-top: 6px solid black;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      -webkit-animation: animate-preloader 1s linear infinite;
      animation: animate-preloader 1s linear infinite;
    }
    @-webkit-keyframes animate-preloader {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes animate-preloader {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    .fadeOut {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 1s, opacity 1s linear;
    }

        .leaflet-marker-icon.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
  background-image: url(MarkerCluster.png);
}

.leaflet-map-pane         { z-index: 100; }
.leaflet-tile-pane        { z-index: 200; }
.leaflet-overlay-pane     { z-index: 400; }
.leaflet-shadow-pane      { z-index: 500; }
.leaflet-marker-pane      { z-index: 600; }
.leaflet-tooltip-pane     { z-index: 650; }
.leaflet-popup-pane       { z-index: 700; }